@import url('https://fonts.googleapis.com/css2?family=Caladea:ital,wght@0,400;0,700;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #0A0E2A;
  --color-secondBackground: #2F354F;
  --color-thirdBackground: #191E39;
  --color-glideBackground: #2E3C67;
  --color-card1: #9A38A7;
  --color-card2: #394DA8;
  --color-card3: #BE0D86;
  --color-text: #F5F1ED;
  --color-button: #D4A017;
  --font-caladea: 'Caladea', serif;
  --font-inter: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
